# series

- 판다스에서 사용하는 일차원의 배열 
- index를 사용할 수 있습니다!

In [7]:
import pandas as pd
import numpy as np

In [8]:
arr = np.arange(100,110)
print(arr)

[100 101 102 103 104 105 106 107 108 109]

In [9]:
s = pd.Series(arr)  #class 이다요
print(s)    # 스트레이트 시트랑 비슷 함 카테고리를 ,,, 정하는 것과 비슷

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int64

In [13]:
s = pd.Series(arr, dtype = 'int32')
print(s)

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int32

In [14]:
s= pd.Series(['kim', 'lee' , 'park'])
print(s)   #데이터가 섞이는 일이 발생

0     kim
1     lee
2    park
dtype: object

In [16]:
s[2]   # 양수 인덱식만  적용이 된다고 합니다용 ,, 음수 ㄴㄴ

'park'

In [17]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [20]:
names = pd.Series(['kim','lee','park'], index = ['a','b','c'])

In [25]:
names[0]
names.iloc[0]

/var/folders/cw/vfz1c_rj2vg143pfdts65w400000gn/T/ipykernel_49749/2706118685.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  names[0]

'kim'

In [23]:
names['a']

'kim'

In [24]:
names.index

Index(['a', 'b', 'c'], dtype='object')

In [27]:
names.ndim

1

In [29]:
names.shape

(3,)

In [31]:
names.values

array(['kim', 'lee', 'park'], dtype=object)

# NaN(not a number)

In [35]:
s = pd.Series([1,2,3 ,np.nan])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

## fancy indexing

In [36]:
f = ['바나나', 'apple', 'grape', np.nan]
s = pd.Series(f,index =list('abcd'))
print(s)

a      바나나
b    apple
c    grape
d      NaN
dtype: object

In [37]:
s['a']

'바나나'

In [38]:
s[['d','a']]

d    NaN
a    바나나
dtype: object

In [39]:
s[[3,1]]

/var/folders/cw/vfz1c_rj2vg143pfdts65w400000gn/T/ipykernel_49749/2949314138.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[[3,1]]

d      NaN
b    apple
dtype: object

## bool indexing

In [40]:
s

a      바나나
b    apple
c    grape
d      NaN
dtype: object

In [41]:
s[[True, False, True, False]]

a      바나나
c    grape
dtype: object

In [42]:
s == '바나나'

a     True
b    False
c    False
d    False
dtype: bool

In [43]:
s[s == '바나나']

a    바나나
dtype: object

In [46]:
s = pd.Series([1,2,3,4,5,6])
s[s > 3]  # 해당 값에 맞는 것만 걸러준다리잉링

3    4
4    5
5    6
dtype: int64

## 결측치(NaN) 처리

In [47]:
s = pd.Series([1,3, np.nan,10,11,np.nan])
print(s)

0     1.0
1     3.0
2     NaN
3    10.0
4    11.0
5     NaN
dtype: float64

In [54]:
s.isnull()   #nan인 것 을  true로 만들어 줌 
s.isna()

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [49]:
s[s.isnull()]

2   NaN
5   NaN
dtype: float64

In [52]:
s[s.notnull()]   # nan이 아닌 값들을 보고 싶을 때

0     1.0
1     3.0
3    10.0
4    11.0
dtype: float64

## slcing

In [53]:
s[1:3]

1    3.0
2    NaN
dtype: float64

In [60]:
pd.Series([1,2,3], index =list('abc'))
s[1:2]

1    3.0
dtype: float64

# dataframe

- 판다스에서 사용하는 2차원 데이터 구조 (excel, sheet와 유사)
- 행 (row), 열(column)구조

In [61]:
d =pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])
d

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [76]:
d = pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9],
], columns = ['가', '나', '다'])
d

   가  나  다
0  1  2  3
1  4  5  6
2  7  8  9

In [70]:
info = {
    'name' : ['kim','lee','park'],
    'age' : [10, 20, 30]
}    # 길이가 맞아야 한다

In [78]:
info_df = pd.DataFrame(info)

In [79]:
info_df.index

RangeIndex(start=0, stop=3, step=1)

In [80]:
info_df.columns

Index(['name', 'age'], dtype='object')

In [82]:
info_df.values

array([['kim', 10],
       ['lee', 20],
       ['park', 30]], dtype=object)

In [84]:
info_df.dtypes

name    object
age      int64
dtype: object

In [86]:
info_df.T  #대칭도 가능 함유

        0    1     2
name  kim  lee  park
age    10   20    30

## index 지정

In [88]:
info_df.index = list('abc')

In [89]:
info_df

   name  age
a   kim   10
b   lee   20
c  park   30

## column 다루기

In [92]:
info_df.columns

Index(['name', 'age'], dtype='object')

In [97]:
print(info_df['name'] )  #인덱스 접근이랑 같아 열에 대한 정보를 넣으면 그대로 쫘르륵
print(type(info_df['name'] ))    #이름을 모두다 가지고,,,와,,

a     kim
b     lee
c    park
Name: name, dtype: object
<class 'pandas.core.series.Series'>

In [99]:
info_df[     ['age','name']        ]   #컬럼의  fancy indexing

   age  name
a   10   kim
b   20   lee
c   30  park

In [104]:
info_df.rename(columns= {'name' : '이름'})

     이름  age
a   kim   10
b   lee   20
c  park   30

In [102]:
info_df = info_df.rename(columns= {'name' : '이름'})   #이름 바꿔

In [107]:
info_df

     이름  age
a   kim   10
b   lee   20
c  park   30

In [109]:
info_df.rename(columns= {'이름' : 'last_name'}, inplace=True)

In [110]:
info_df

  last_name  age
a       kim   10
b       lee   20
c      park   30